@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    min-height: 100vh;
    padding-bottom : 70px;
}

#app {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Roboto', sans-serif;
}


/* LoginPage, RegisterPage */
.signInBackground {
  background-image: url(../assets/images/sing_In_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backToHome {
  position: fixed;
  top: 5%;
  left: 5%;
  filter: invert(100%);
  z-index: 99;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.btnStyle {
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btnStyle:hover {
  transform: scale(1.03);
  transition: 200ms;
}

.darkBack {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.pageTitle {
  font-size: 1.6rem;
  color: #368267;
  font-weight: 700;
  text-align: left;
  margin: 40px 0 30px 40px;
}

.p-dropdown-panel .p-component .p-ripple-disabled .p-dropdown-items-wrapper ul {
  padding: 0;
  margin: 0;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0;
}

.overflowDisable {
  overflow: hidden;
  width: 100%;
  position: fixed;
  height: 100%;
}

input,
select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 5px 40px 5px 10px;
    color: #000;
    border-radius: 7px;
    background-color: #ededed;
    border: 1px solid #c5c5c5;
    max-height: 50px;
}

.p-tabview-nav-content {
  display: none;
}

.p-tabview-nav a{
  color: #368267;
  text-decoration: none;
}

.p-tabview-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
