@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    min-height: 100vh;
}

#app {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Roboto', sans-serif;
}


/* LoginPage, RegisterPage */
.signInBackground {
  background-image: url(../assets/images/sing_In_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backToHome {
  position: fixed;
  top: 5%;
  left: 5%;
  filter: invert(100%);
  z-index: 99;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.btnStyle {
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btnStyle:hover {
  transform: scale(1.03);
  transition: 200ms;
}